.git
.github
.gitignore
.goreleaser.yaml
Dockerfile
.dockerignore

docs
README.md
README_RU.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
SECURITY.md

.env*
docker-compose*
compose*
Caddyfile

data
geo
xray_config.json
*.log
*.tmp
